Python
*.pyc
pycache/
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
Virtual environment
venv/
.venv/
Environment variables
.env
Database
books.db
books.sqbpro
IDE
.idea/
*.iml
Logs
*.log
macOS
.DS_Store
Misnamed files
requirments.txt
